<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<div class="container my-4">
    {{#if project}}
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                {{#if project.image}}
                <div class="project__header"
                    style="background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url({{project.image}});">
                    <div class="px-5 pb-4" style="max-width: 750px;">
                        <h1>{{project.title}}</h1>
                        <span>
                            <img src="{{project.owner.profilePicture}}"
                                style="vertical-align:middle; margin-right: 8px;" height="30px">
                            <a href="/org/{{project.owner._id}}" class="text-white ml-2">{{project.owner.name}}</a>
                        </span>
                    </div>
                </div>
                {{/if}}
                <div class="p-5">
                    <p>{{{project.description}}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card p-4 mb-3">
                <div class="row">
                    <div class="col">
                        <img src="{{project.owner.profilePicture}}" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5 class="mb-0">{{project.owner.name}}</h5>
                        <small>
                            {{project.owner.email}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="card p-4">
                <h4>Aporta al proyecto</h4>
                <p><b>{{donatorsTotal}}</b> personas han ayudado con {{collectedTotal}}€. ¡Ayuda a conseguir
                    {{project.sum}}€!</p>

                {{#if currentUser}}
                {{#isOrg currentUser.role}}
                <a href="/logout" class="button btn__secondary btn-lg my-2">
                    Para poder donar a otra organización, cierra sesión y regístrese como usuario</a>
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#donationPopup">
                    Apoyar al proyecto</a>
                {{/isOrg}}
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#loginActionPopup">
                    Apoyar al proyecto</a>
                {{/if}}

                <br>
                <small>Puedes apoyar al proyecto desde 1€, de forma pública o totalmente privada.</small>
            </div>

            <div class="card my-3">
                <div style="position: relative; min-height: 20rem;">
                    <div id='mapShow' class="rounded__custom"
                        style='position: absolute; top: 0; bottom: 0; width: 100%;'></div>
                </div>
                <div id="query" class="p-4" data-adress="{{project.adress}}">
                    <h4>Dirección:</h4>
                    {{project.adress}}
                    <br><a href="#" class="button btn__light mt-3"><i class="fas fa-map-marker-alt mr-2"></i> Obtener
                        ruta</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>

<div class="modal" id="donationPopup" tabindex="-1" aria-labelledby="donationPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>Donación</b></h3>
            <form id="donation">
                <input name="contribution" id="quantity" class="form-control" type="number" class="form-label">
                <div class="form-check form-switch mt-4">
                    <input name="anonymous" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                        {{#unless currentUser.visibility}}checked{{/unless}}>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Donación anónima</label>
                </div>
                <button type="submit" id="checkout-button" class="button btn__primary btn-lg">Donar</button>
            </form>
        </div>
    </div>
</div>

<script>
    let loca = document.getElementById('query').dataset.adress
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWNhcmFsbW8iLCJhIjoiY2tsdXgxazNzMDhtdzJ3cWx6cHRyb2U5NCJ9.lLgjepzuFFwLFmmDCrZ73A'
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: `${loca}`,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function (response) {
            if (response.body.features.length) {
                var feature = response.body.features[0];

                var mapShow = new mapboxgl.Map({
                    container: 'mapShow',
                    style: 'mapbox://styles/manucaralmo/ckluy87tb3vjd17qnb86rc62w',
                    center: feature.center,
                    zoom: 15
                })
                new mapboxgl.Marker({
                    color: "#059669",
                })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML('<h6>{{project.title}}</h3><p class="mb-0" style="font-size: 0.8rem;">{{project.adress}}</p><small class="text-main">{{project.owner.name}}</small>'))
                    .addTo(mapShow);
            }
        });


    // STRIPE
    let stripe = Stripe("pk_test_aKXAngMXOasC99dapoLzwS5500SAkrz1IT");
    let donationForm = document.getElementById("donation");

    donationForm.addEventListener("submit", (e) => {
        e.preventDefault()

        let data = {
            quantity: document.getElementById('quantity').value,
            anonimous: document.querySelector('#flexSwitchCheckDefault').value,
            projectTitle: "{{project.title}}",
            projectId: "{{project._id}}",
            projectImage: "{{project.image}}",
            projectSlug: "{{project.slug}}"
        }

        fetch("/create-checkout-session", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then((response) => response.json())
            .then((session) => stripe.redirectToCheckout({ sessionId: session.id }))
            .then((result) => {
                if (result.error) alert(result.error.message)
            })
            .catch((error) => console.error("Error:", error))
    });
</script>