<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<div class="container my-4">
    {{#if project}}
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="card">
                {{#if project.image}}
                <div class="project__header"
                    style="background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url({{project.image}});">
                    <div class="px-4 px-md-5 pb-4" style="max-width: 750px;">
                        <h1>{{project.title}}</h1>
                        <span>
                            <img src="{{project.owner.profilePicture}}" class="rounded border"
                                style="vertical-align:middle; margin-right: 8px;" height="30px">
                            <a href="/org/{{project.owner._id}}" class="text-white ml-2 me-3">{{project.owner.name}}</a>
                        </span>
                    </div>
                </div>
                {{/if}}
                <div class="p-4 p-md-5">
                    <b class="text-main">Publicado hace {{sinceHelper project.createdAt}} por {{project.owner.name}}</b>
                    <p>{{{project.description}}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 mb-3">
                <div class="d-flex justify-content-start">
                    <img src="{{project.owner.profilePicture}}" height="45px" class="rounded border me-3" alt="">
                    <div>
                        <h5 class="mb-0">{{project.owner.name}}</h5>
                        <small>
                            {{project.owner.email}}
                        </small>
                    </div>
                </div>

                <hr class="mt-4 mb-5">

                <h4>Aporta al proyecto</h4>
                <p style="font-size: 1rem;" class="mb-0">
                    <b>{{donatorsTotal}}</b>
                    personas han ayudado con <b>{{collectedTotal}}€</b>. ¡Ayuda a conseguir
                    {{project.sum}}€!
                </p>

                <div class="progress my-3" style="height: 10px;">
                    <div class="progress-bar bg__main" role="progressbar" id="progressBar"></div>
                </div>

                <div class="mb-4" style="font-size: 0.9rem;">
                    {{#each donors2show as |donation|}}
                    <div class="d-flex justify-content-start align-items-center mb-2 text-muted">
                        <img src="{{#if donation.anonymous}}https://res.cloudinary.com/thecoopspain/image/upload/v1615495742/express/default/placeholder-user_f2cmqk_gjv13l.jpg{{else}}{{donation.donator.profilePicture}}{{/if}}"
                            height="35px" class="me-3 rounded border" alt="">
                        <div><b>{{#if donation.anonymous}}Donante
                                anónimo{{else}}{{donation.donator.name}}{{/if}}</b><br>ha donado
                            {{donation.contribution}}€ hace
                            {{sinceHelper donation.createdAt}}</div>
                    </div>
                    {{/each}}
                </div>

                {{#if currentUser}}
                {{#isOrg currentUser.role}}
                Para poder donar a otra organización, cierra sesión y regístrese como usuario
                <a href="/logout" class="button btn__primary btn-lg my-2">Cerrar sesión y donar</a>
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#donationPopup">
                    <i class="far fa-hands-heart me-1"></i> Apoyar al proyecto</a>
                {{/isOrg}}
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#loginActionPopup">
                    <i class="far fa-hands-heart me-1"></i> Apoyar al proyecto</a>
                {{/if}}

                <br>
                <small>Puedes apoyar al proyecto desde 1€, de forma pública o totalmente privada hasta el {{dateHelper
                    project.endDate}}.</small>
            </div>

            <div class="card my-3">
                <div style="position: relative; min-height: 15rem;">
                    <div id='mapShow' class="rounded__custom"
                        style='position: absolute; top: 0; bottom: 0; width: 100%;'></div>
                </div>
                <div id="query" class="p-4" data-adress="{{project.adress}}">
                    <h4>Dirección:</h4>
                    {{project.adress}}
                    <br><a href="https://www.google.es/maps/place/{{project.adress}}" target="_blank" rel="noopener"
                        class="button btn__light mt-3"><i class="fas fa-map-marker-alt mr-2"></i> Obtener
                        ruta</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>

<div class="modal" id="donationPopup" tabindex="-1" aria-labelledby="donationPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5">
            {{#if project.completed}}
            <h3><b>Proyecto completo</b></h3>
            <p>El proyecto de {{project.owner.name}} ha cumplido su objetivo gracias a la ayuda de nuestra comunidad de
                usuarios.</p>
            <a href="/proyectos" class="button btn__light btn-lg">Ver más proyectos</a>
            {{else}}
            <h3><b>Hacer una donación</b></h3>
            <p>Con tu donación ayudarás a que {{project.owner.name}} cumpla su objetivo.</p>
            <form id="donation" class="mt-3">
                <div class="mb-4">
                    <label for="quantity" class="h6 form-label"><b>¿Cuánto te gustaría aportar?</b></label>
                    <input name="contribution" id="quantity" class="form-control form-control-lg" type="number"
                        placeholder="Ej: 25" class="form-label">
                </div>
                <div class="mb-5">
                    <label for="quantity" class="h6 form-label"><b>¿Te gustaría que la donación fuera
                            pública?</b></label>
                    <div class="form-check form-switch">
                        <input name="anonymous" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Donación anónima</label>
                    </div>
                </div>
                <button type="submit" id="checkout-button" class="button btn__primary btn-lg w-100">Hacer
                    donación</button>
            </form>
            {{/if}}
        </div>
    </div>
</div>

<div class="modal" id="paidPopup" tabindex="-1">
    <div class="modal-dialog">
        <div style="max-width: 475px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <span class="fa-stack fa-3x mb-4 mx-auto">
                <i class="fas fa-square fa-stack-2x" style="color: #d2e6f8;"></i>
                <i class="fas fa-hands-helping fa-stack-1x" style="color: #1167b1;"></i>
            </span>

            <h3><b>¡Enhorabuena!</b></h3>
            <p>Hemos recibido tu donación correctamente para el proyecto {{project.title}}.</p>
            <a href="/proyectos" class="button btn__primary btn-lg mt-3">Explorar más proyectos</a>

        </div>
    </div>
</div>

<script>
    let loca = document.getElementById('query').dataset.adress
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWNhcmFsbW8iLCJhIjoiY2tsdXgxazNzMDhtdzJ3cWx6cHRyb2U5NCJ9.lLgjepzuFFwLFmmDCrZ73A'
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: `${loca}`,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function (response) {
            if (response.body.features.length) {
                var feature = response.body.features[0];

                var mapShow = new mapboxgl.Map({
                    container: 'mapShow',
                    style: 'mapbox://styles/manucaralmo/ckm504dzo0yap17r1x4ys15t6',
                    center: feature.center,
                    zoom: 15
                })
                new mapboxgl.Marker({
                    color: "#1167b1",
                })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML('<h6>{{project.title}}</h3><p class="mb-0" style="font-size: 0.8rem;">{{project.adress}}</p><small class="text-main">{{project.owner.name}}</small>'))
                    .addTo(mapShow);
            }
        });


    // STRIPE
    let stripe = Stripe("pk_test_aKXAngMXOasC99dapoLzwS5500SAkrz1IT");
    let donationForm = document.getElementById("donation");

    donationForm.addEventListener("submit", (e) => {
        e.preventDefault()

        document.getElementById('checkout-button').innerHTML = 'Cargando...'

        let data = {
            quantity: document.getElementById('quantity').value,
            anonymous: document.querySelector('#flexSwitchCheckDefault').checked,
            projectTitle: "{{project.title}}",
            projectId: "{{project._id}}",
            projectImage: "{{project.image}}",
            projectSlug: "{{project.slug}}"
        }

        fetch("/create-checkout-session", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then((response) => response.json())
            .then((session) => stripe.redirectToCheckout({ sessionId: session.id }))
            .then((result) => {
                if (result.error) alert(result.error.message)
            })
            .catch((error) => console.error("Error:", error))
    });

    window.addEventListener('load', () => {
        // POPUPS
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('paid');

        let myModal = new bootstrap.Modal(document.getElementById('paidPopup'))
        if (myParam) {
            myModal.show()
        }

        // PROGRESS BAR
        const progressBar = document.getElementById('progressBar')
        const maxPercent = '{{ project.percent }}'

        let currPercent = 0
        let progressInterval = setInterval(() => {
            progressBar.style.width = `${currPercent}%`
            currPercent++

            if (currPercent >= Number(maxPercent)) {
                clearInterval(progressInterval)
            }
        }, 50)

    });

</script>