<div class="container my-5">
    {{#if project}}
    <div class="row">
        <div class="col-sm-8">
            <div class="card p-5">
                <div class="mb-4">
                    <h1>{{project.title}}</h1>
                    <p>
                        Creado por: <a href="/org/{{project.owner.name}}">{{project.owner.name}}</a>
                    </p>
                </div>
                {{#if project.image}}
                <img src="{{project.image}}" class="w-100 rounded" alt="">
                {{/if}}
                <p class="my-4">{{{project.description}}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card p-4 mb-3">
                <div class="row">
                    <div class="col">
                        <img src="{{project.owner.profilePicture}}" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>{{project.owner.name}}</h5>
                        <small class="my-2">
                            {{project.owner.bio}}
                            Quienes vamos a dar a luz estos días en Segovia nos estamos encontrando con una situación.
                        </small>
                    </div>
                </div>
            </div>
            <div class="card p-4">
                <h4>Aporta al proyecto</h4>
                <p><b>{{donatorsTotal}}</b> personas han ayudado con {{collectedTotal}}€. ¡Ayuda a conseguir {{project.sum}}€!</p>
                {{#isOrg currentUser.role}}
                <a href="/logout" class="button btn__secondary btn-lg my-2">
                    Para poder donar a otra organización, cierra sesión y regístrese como usuario</a>
                {{/isOrg}}
                 {{!-- {{#isOrg currentUser.role}} --}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="{{#if currentUser}}#donationPopup{{else}}#loginActionPopup{{/if}}">
                    Apoyar al proyecto</a>
                 {{!-- {{/isOrg}}  --}}
                <br>
                <small>Puedes apoyar al proyecto desde 1€, de forma pública o totalmente privada.</small>
            </div>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>


<div class="modal" id="donationPopup" tabindex="-1" aria-labelledby="donationPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>Donación</b></h3>
            <form action="/donation/{{project.slug}}" id="donation" method="POST">
                <input name="contribution" class="form-control" type="number" class="form-label">
                <div class="form-check form-switch mt-4">
                    <input name="anonymous" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                        {{#unless currentUser.visibility}}checked{{/unless}}>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Donación anónima</label>
                </div>
                <button type="submit" class="button btn__primary btn-lg">Donar</button>
            </form>
        </div>
    </div>
</div>