<a href="/project/{{slug}}" class="card project__card">
    <div class="d-flex w-100 justify-content-start" style="min-height: 170px;">
        <div class="objetfit__card py-3 ps-3">
            <img src="{{image}}" alt="">
        </div>
        <div class="p-4 w-100 d-flex flex-column justify-content-between">
            <div>
                <h5>{{title}}</h5>
            </div>
            <div>
                <div class="d-flex w-100 justify-content-between align-items-end">
                    <div>
                        <small class="text-muted">
                            <img src="{{owner.profilePicture}}" height="20px" alt="">
                            {{owner.name}}
                        </small>
                    </div>
                    <small class="text-muted" style="font-size: 0.75rem;">{{money}}€ de {{sum}}€</small>
                </div>
                <div class="progress mt-3" style="height: 6px;">
                    <div class="progress-bar bg__main" role="progressbar" style="width: {{percent}}%"></div>
                </div>
            </div>
        </div>
    </div>
</a>