<div class="main__hero">
    <div class="container py-5">
        {{#if flashMessage}}
        <div class="alert alert-danger">{{flashMessage}}</div>
        {{/if}}
        <div class="text-center mx-auto my-5" style="max-width: 600px;">
            <h1 class="display-4">Unimos personas y organizaciones</h1>
            <p>433.505.259 personas han pasado a la acción. Victorias cada día.</p>

            <div class="mt-3"><br>
                {{#if currentUser}}
                <a href="{{#isOrg currentUser.role}}/org/profile{{else}}/user/profile{{/isOrg}}"
                    class="button btn__primary btn-lg px-5">Profile</a>
                {{else}}
                <a href="/register" class="button btn__primary btn-lg px-5">Register</a>
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginPopup"
                    class="button btn__light btn-lg px-5 ml-3">Login</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="text-center my-5">
        <h2>Apoya un proyecto</h2>
        <p>Apoya a los proyectos que te importan desde sólo 1€</p>
    </div>
    <div class="row">
        {{#each projects as |project|}}
        <div class="col-sm-4 mb-3">
            <a href="/project/{{project.slug}}" class="card project__card p-4">
                <h5>{{project.title}}</h5>
                <small>
                    <img src="{{project.owner.profilePicture}}" height="20px" alt="">
                    {{project.owner.name}}
                </small>
            </a>
        </div>
        {{/each}}
    </div>
</div>