<div class="main__hero">
    <div class="container py-5">
        {{#if flashMessage}}
        <div class="alert alert-danger">{{flashMessage}}</div>
        {{/if}}
        <div class="text-center mx-auto my-5" style="max-width: 600px;">
            <h1 class="display-4">Unimos personas y organizaciones</h1>
            <p>433.505.259 personas han pasado a la acción. Victorias cada día.</p>

            <div class="mt-3"><br>
                {{#if currentUser}}
                <a href="{{#isOrg currentUser.role}}/org/profile{{else}}/user/profile{{/isOrg}}"
                    class="button btn__light btn-lg px-5">Profile</a>
                {{else}}
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginPopup"
                    class="button btn__light btn-lg px-5 ml-3">Inicia sesión</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if projects}}
<div class="container my-5">
    <div class="text-center my-5">
        <h2>Apoya un proyecto</h2>
        <p>Apoya a los proyectos que te importan desde sólo 1€</p>
    </div>
    <div class="row">
        {{#each projects as |project|}}
        <div class="col-lg-4 mb-3">
            {{> projectCard project}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if volunts}}
<div class="container my-5">
    <div class="text-center my-5">
        <h2>Únete a un voluntariado</h2>
        <p>Asiste a voluntariados de tu zona</p>
    </div>
    <div class="row">
        {{#each volunts as |volunt|}}
        <div class="col-lg-4 mb-3">
            {{> voluntCard volunt}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<div class="container my-5">
    <div class="my-5 text-center">
        <h2 class="mb-2">Categorías</h2>
        <div class="mt-4">
            {{#each categs as |categ|}}
            <a href="/c/{{categ}}" class="button btn-sm btn__light px-3 mb-2">{{categ}}</a>
            {{/each}}
        </div>
    </div>
</div>