<div class="main__hero">
    <div class="container py-5">
        {{#if flashMessage}}
        <div class="alert alert-danger">{{flashMessage}}</div>
        {{/if}}
        <div class="text-center mx-auto my-5" style="max-width: 600px;">
            <h1 class="display-4">Unimos personas y organizaciones</h1>
            <p>433.505.259 personas han pasado a la acción. Victorias cada día.</p>

            <div class="mt-3"><br>
                {{#if currentUser}}
                <a href="{{#isOrg currentUser.role}}/org/profile{{else}}/user/profile{{/isOrg}}"
                    class="button btn__primary btn-lg px-5">Profile</a>
                {{else}}
                <button type="button" data-bs-toggle="modal" data-bs-target="#registerPopup"
                    class="button btn__primary mr-2 btn-lg px-5">Register</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginPopup"
                    class="button btn__light btn-lg px-5 ml-3">Login</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if projects}}
<div class="container my-4">
    <div class="text-center my-5">
        <h2>Apoya un proyecto</h2>
        <p>Apoya a los proyectos que te importan desde sólo 1€</p>
    </div>
    <div class="row">
        {{#each projects as |project|}}
        <div class="col-sm-4 mb-3">
            <a href="/project/{{project.slug}}" class="card project__card p-4">
                <h5>{{project.title}}</h5>
                <small>
                    <img src="{{project.owner.profilePicture}}" height="20px" alt="">
                    {{project.owner.name}}
                </small>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if volunts}}
<div class="container my-4">
    <div class="text-center my-5">
        <h2>Únete a un voluntariado</h2>
        <p>Asiste a voluntariados de tu zona</p>
    </div>
    <div class="row">
        {{#each volunts as |volunt|}}
        <div class="col-sm-4 mb-3">
            <a href="/volunt/{{volunt.slug}}" class="card project__card p-4">
                <h5>{{volunt.title}}</h5>
                <small>
                    <img src="{{volunt.owner.profilePicture}}" height="20px" alt="">
                    {{volunt.owner.name}}
                </small>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<div class="container my-5">
    <div class="my-5">
        <h2>Categorías</h2>
        <div class="row mb-3">
            {{#each categs as |categ|}}
            <div class="col-6">
                <a href="/c/{{categ}}" class="button btn__secondary mb-2">{{categ}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<!-- ============= ALGOLIA ============= -->
<div id="hits"></div>
<div id="resultados"></div>
<div id="searchbox"></div>

<link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1/dist/instantsearch.min.css">
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.0/dist/instantsearch.min.js"></script>
<script>
    const search = instantsearch({
        appId: "U28QP2NJ27",
        apiKey: "3f332b092a5a0db62961058d849f28f6",
        indexName: "projects",
        searchParameters: {
            hitsPerPage: 5,
        }
    });

    search.addWidget(
        instantsearch.widgets.hits({
            container: "#hits",
            templates: {
                empty: "No results.",
                item: function (hit) {
                    let newDuv = document.createElement('div')
                    newDuv.innerHTML = `<h3>${hit.title}</h3>`
                    document.getElementById('resultados').appendChild(newDuv)
                    console.log(hit)
                }
            }
        })
    );

    search.addWidget(
        instantsearch.widgets.searchBox({
            container: "#searchbox",
            placeholder: "Search for products",
            autofocus: false
        })
    );


    search.start();

</script>