<div class="container mt-4 mb-2">
    {{#if messages}}
    <div class="alert alert-dark">
        {{messages}}
    </div>
    {{/if}}

    <div class="card border-0">
        <div class="public__header"
            style="background-image: linear-gradient(180deg, rgba(0,0,0,0.20) 35%, rgba(0,0,0,0.8) 100%), url(https://source.unsplash.com/collection/6769226/1600x900);">
            <div class="px-3 px-md-5 pb-1 pb-md-4">
                <div class="d-flex flex-column flex-sm-row justify-content-start mb-4 text-center text-sm-start">
                    <img src="{{currentUser.profilePicture}}" style="vertical-align:middle; margin-right: 8px;"
                        height="100px" width="100px" class="rounded__custom border mx-auto mx-sm-0 mb-3 mb-sm-0">
                    <div class="ms-0 ms-md-4" style="max-width: 750px;">
                        <h1 class="mb-0 h2">{{currentUser.name}}</h1>
                        <p style="font-size: 1rem;">
                            {{#if currentUser.visibility}}
                            <span><i class="far fa-eye"></i> Perfil público</span>
                            {{else}}
                            <span><i class="far fa-lock-alt"></i> Perfil privado</span>
                            {{/if}}
                        </p>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editProfile"
                            class="button btn__light btn-sm"><i class="far fa-user-edit me-1"></i> Editar perfil</a>
                        <a href="/user/settings" class="button btn__light btn-sm"> <i class="far fa-user-cog me-1"></i>
                            Configuración</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="my-5">
                <div class="mb-4">
                    <h3 class="mb-0">Contribuciones</h3>
                    <small>Estás son tus últimas contribuciones</small>
                </div>

                <ul class="list-group rounded__custom">
                    {{#if donations}}
                    {{#each donations as |donation|}}
                    <a href="/project/{{donation.project.slug}}" class="list-group-item list-group-item-action py-3">
                        <div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1 fw-bolder">{{donation.project.title}}</p>
                                <small class="text-main">Hace {{sinceHelper donation.createdAt}}</small>
                            </div>
                            <p class="mb-0" style="font-size: 1rem;">Contribución: {{donation.contribution}}€</p>
                        </div>
                    </a>
                    {{/each}}
                    {{else}}
                    <a href="/proyectos" class="list-group-item list-group-item-action py-3">
                        <div>
                            <p class="mb-1 fw-bolder">Aquí aparecerán tus donaciones</p>
                            <p class="mb-0" style="font-size: 1rem;">Por el momento no tienes ninguna donación. Haz
                                click y empieza a donar a proyectos que te interesan desde sólo 1€.</p>
                        </div>
                    </a>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="my-5">
                <div class="mb-4">
                    <h3 class="mb-0">Voluntariados</h3>
                    <small>Estos son tus últimos voluntariados</small>
                </div>

                <ul class="list-group rounded__custom">
                    {{#if volunts}}
                    {{#each volunts as |volunt|}}
                    <a href="/volunt/{{volunt.volunt.slug}}" class="list-group-item list-group-item-action py-3">
                        <div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1 fw-bolder">{{volunt.volunt.title}}</p>
                            </div>
                            <p class="mb-0" style="font-size: 1rem;">Fecha: {{#each volunt.volunt.date as |date|}}
                                {{date.day}}
                                {{/each}}</p>
                        </div>
                    </a>
                    {{/each}}
                    {{else}}
                    <a href="/voluntariados" class="list-group-item list-group-item-action py-3">
                        <div>
                            <p class="mb-1 fw-bolder">Aquí aparecerán tus voluntariados</p>
                            <p class="mb-0" style="font-size: 1rem;">Por el momento no tienes ningún voluntariado. Haz
                                click y encuentra voluntariados para ayudar en tu zona.</p>
                        </div>
                    </a>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editProfile" tabindex="-1" aria-labelledby="editProfile" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 500px;">
        <div style="border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h1>Editar perfil</h1>
            <p style="font-size: 1rem;">Edita la información básica de tu perfil</p>
            <form action="/edit-profile" method="POST" enctype="multipart/form-data" class="mt-4">

                <div class="me-4 mb-5">
                    <img src="{{currentUser.profilePicture}}" id="uploadPreview" height="155px"
                        class="rounded__custom border" alt="profile image"><br>
                    <label for="uploadImage" class="button btn__light btn-sm mt-2">
                        <i class="far fa-cloud-upload me-1"></i> Seleccionar imagen</label>
                    <input id="uploadImage" type="file" name="profilePicture" class="input-file"
                        onchange="PreviewImage();" />
                </div>

                <div class="text-start">
                    <input type="text" class="form-control form-control-lg {{#if error}}is-invalid{{/if}}" name="name"
                        id="name" value="{{currentUser.name}}" placeholder="name" autofocus>
                    {{#if error}}
                    <div class="invalid-feedback">{{error.name}}</div>
                    {{/if}}
                    <div class="form-check form-switch mt-4">
                        <input name="visibility" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            {{#if currentUser.visibility}}checked{{/if}}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Perfil público</label>
                    </div>
                    <button type="submit" class="button btn__light btn-lg mt-4 w-100">Actualizar perfil</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function PreviewImage() {
        var oFReader = new FileReader()
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0])
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result
        }
    }
</script>