<div class="container my-4">
    {{#if volunt}}
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                {{#if volunt.image}}
                <div class="project__header"
                    style="background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url({{volunt.image}});">
                    <div class="px-5 pb-4" style="max-width: 750px;">
                        <h1>{{volunt.title}}</h1>
                        <span>
                            <img src="{{volunt.owner.profilePicture}}" style="vertical-align:middle; margin-right: 8px;"
                                height="30px">
                            <a href="/org/{{volunt.owner.name}}" class="text-white ml-2">{{volunt.owner.name}}</a>
                        </span>
                    </div>
                </div>
                {{/if}}

                <div class="p-5">
                    <p>{{{volunt.description}}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card p-4 mb-3">
                <div class="row">
                    <div class="col">
                        <img src="{{volunt.owner.profilePicture}}" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5 class="mb-0">{{volunt.owner.name}}</h5>
                        <small>
                            {{volunt.owner.email}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="card p-4">
                <h4>Plazas</h4>
                <p>{{volunt.assistants}}</p>
                <h4>Reservadas</h4>
                <p>{{reserved}}</p>
                <h4>¿Quieres ser voluntario?</h4>
                {{#each volunt.date as |date|}}
                <p><b>Día</b> {{date.day}}</p>
                <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
                <hr>
                {{/each}}
                {{#isOrg currentUser.role}}
                <a href="/logout" class="button btn__secondary btn-lg my-2">
                    Para poder apuntarte a un voluntariado, cierra sesión y regístrese como usuario</a>
                {{/isOrg}}
                {{!-- {{else}} --}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="{{#if currentUser}}#assistPopup{{else}}#loginActionPopup{{/if}}">
                    Apuntarme al voluntariado</a>
                {{!-- {{/isOrg}} --}}
                <br>
            </div>
            <div class="card my-3">
                <div style="position: relative; min-height: 20rem;">
                    <div id='mapShowV' class="rounded__custom"
                        style='position: absolute; top: 0; bottom: 0; width: 100%;'></div>
                </div>
                <div id="queryV" class="p-4" data-adress="{{volunt.adress}}">
                    <h4>Dirección:</h4>
                    {{volunt.adress}}
                    <br><a href="#" class="button btn__light mt-3"><i class="fas fa-map-marker-alt mr-2"></i> Obtener
                        ruta</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>

<div class="modal" id="assistPopup" tabindex="-1" aria-labelledby="assistPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>¡Yo voy!</b></h3>
            {{volunt.adress}}
            {{#each volunt.date as |date|}}
            <p><b>Día</b> {{date.day}}</p>
            <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
            <hr>
            {{/each}}
            <form action="/volunt/{{volunt.slug}}" method="POST">
                <button type="submit" class="button btn__primary btn-lg">Reervar plaza</button>
            </form>
        </div>
    </div>
</div>

<script>
    let locat = document.getElementById('queryV').dataset.adress
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWNhcmFsbW8iLCJhIjoiY2tsdXgxazNzMDhtdzJ3cWx6cHRyb2U5NCJ9.lLgjepzuFFwLFmmDCrZ73A'
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: `${locat}`,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function (response) {
            if (response.body.features.length) {
                var feature = response.body.features[0];

                var mapShowV = new mapboxgl.Map({
                    container: 'mapShowV',
                    style: 'mapbox://styles/manucaralmo/ckluy87tb3vjd17qnb86rc62w',
                    center: feature.center, // Lat, lang
                    zoom: 15,
                })
                new mapboxgl.Marker({
                    color: "#059669",
                })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML('<h6>{{volunt.title}}</h3><p class="mb-0" style="font-size: 0.8rem;">{{volunt.adress}}</p><small class="text-main">{{volunt.owner.name}}</small>'))
                    .addTo(mapShowV);
            }
        });
</script>