<div class="container my-4">
    {{#if volunt}}
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="card">
                {{#if volunt.image}}
                <div class="project__header"
                    style="background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url({{volunt.image}});">
                    <div class="px-4 px-md-5 pb-4" style="max-width: 750px;">
                        <h1>{{volunt.title}}</h1>
                        <span>
                            <img src="{{volunt.owner.profilePicture}}" style="vertical-align:middle; margin-right: 8px;"
                                height="30px" class="rounded border">
                            <a href="/org/{{volunt.owner._id}}" class="text-white ml-2">{{volunt.owner.name}}</a>
                        </span>
                    </div>
                </div>
                {{/if}}

                <div class="p-4 p-md-5">
                    <p>{{{volunt.description}}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 mb-3">
                <div class="d-flex justify-content-start">
                    <img src="{{volunt.owner.profilePicture}}" height="45px" class="rounded border me-3" alt="">
                    <div>
                        <h5 class="mb-0">{{volunt.owner.name}}</h5>
                        <small>
                            {{volunt.owner.email}}
                        </small>
                    </div>
                </div>

                <hr class="mt-4 mb-5">

                <h4>Plazas</h4>
                <p>{{volunt.assistants}}</p>
                <h4>Reservadas</h4>
                <p>{{reserved}}</p>
                <h4>¿Quieres ser voluntario?</h4>
                {{#each volunt.date as |date|}}
                <p><b>Día</b> {{date.day}}</p>
                <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
                <hr>
                {{/each}}

                
                {{#isOrg currentUser.role}}
                <a href="/logout" class="button btn__secondary btn-lg my-2">
                    Para poder donar a otra organización, cierra sesión y regístrese como usuario</a>
                {{/isOrg}}

                {{#if currentUser}}
                {{#if imGoing}}
                <p>¡Estás apuntado a este voluntariado! </p>
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#sendInfoPopup">
                    Enviarme de nuevo la información</a>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#dropOutVolunt">
                    Darme de baja</a>
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#assistPopup">
                    Apuntarme al voluntariado DIRECT</a>
                {{/if}}
                {{else}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="#loginActionPopup">
                    Apuntarme al voluntariado LOGIN</a>
                {{/if}}

            </div>
            <div class="card my-3">
                <div style="position: relative; min-height: 15rem;">
                    <div id='mapShowV' class="rounded__custom"
                        style='position: absolute; top: 0; bottom: 0; width: 100%;'></div>
                </div>
                <div id="queryV" class="p-4" data-adress="{{volunt.adress}}">
                    <h4>Dirección:</h4>
                    {{volunt.adress}}
                    <br><a href="#" class="button btn__light mt-3"><i class="fas fa-map-marker-alt mr-2"></i> Obtener
                        ruta</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>

<div class="modal" id="assistPopup" tabindex="-1" aria-labelledby="assistPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>¡Yo voy!</b></h3>
            <p>{{volunt.adress}}</p>
            {{#each volunt.date as |date|}}
            <p><b>Día</b> {{date.day}}</p>
            <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
            <hr>
            {{/each}}
            <form action="/volunt/{{volunt.slug}}" method="POST">
                <button type="submit" class="button btn__primary btn-lg">Reervar plaza</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="sendInfoPopup" tabindex="-1" aria-labelledby="sendInfoPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>Información</b></h3>
            <p>{{volunt.adress}}</p>
            {{#each volunt.date as |date|}}
            <p><b>Día</b> {{date.day}}</p>
            <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
            {{/each}}
            <form action="/request-info-email" method="POST">
                <input name="adress" value="{{volunt.adress}}" style="display: none">
                <input name="day" value="{{volunt.date.day}}" style="display: none">
                <input name="time1" value="{{volunt.date.time.start}}" style="display: none">
                <input name="time2" value="{{volunt.date.time.end}}" style="display: none">
                <input name="slug" value="{{volunt.slug}}" style="display: none">
                <input name="email" class="form-control form-control-lg mb-2" value="{{currentUser.email}}">
                <button type="submit" class="button btn__primary btn-lg">Enviar</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="dropOutVolunt" tabindex="-1" aria-labelledby="dropOutVolunt" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h6><b>¿Estás seguro de que no quieres asistir como voluntario a {{volunt.title}}?</b></h6>
            <form action="/volunt-drop-out/{{volunt.slug}}" method="POST">
                <button type="submit" class="button btn__primary btn-lg">Enviar</button>
            </form>
        </div>
    </div>
</div>

<script>
    let locat = document.getElementById('queryV').dataset.adress
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWNhcmFsbW8iLCJhIjoiY2tsdXgxazNzMDhtdzJ3cWx6cHRyb2U5NCJ9.lLgjepzuFFwLFmmDCrZ73A'
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: `${locat}`,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function (response) {
            if (response.body.features.length) {
                var feature = response.body.features[0];

                var mapShowV = new mapboxgl.Map({
                    container: 'mapShowV',
                    style: 'mapbox://styles/manucaralmo/ckluy87tb3vjd17qnb86rc62w',
                    center: feature.center, // Lat, lang
                    zoom: 15,
                })
                new mapboxgl.Marker({
                    color: "#059669",
                })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML('<h6>{{volunt.title}}</h3><p class="mb-0" style="font-size: 0.8rem;">{{volunt.adress}}</p><small class="text-main">{{volunt.owner.name}}</small>'))
                    .addTo(mapShowV);
            }
        });
</script>