<div class="container my-5">
    {{#if volunt}}
    <div class="row">
        <div class="col-sm-8">
            <div class="card p-5">
                <div class="mb-4">
                    <h1>{{volunt.title}}</h1>
                    <p>
                        Creado por: <a href="/org/{{volunt.owner.name}}">{{volunt.owner.name}}</a>
                    </p>
                </div>
                {{#if volunt.image}}
                <img src="{{volunt.image}}" class="w-100 rounded" alt="">
                {{/if}}
                <p class="my-4">{{{volunt.description}}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card p-4 mb-3">
                <div class="row">
                    <div class="col">
                        <img src="{{volunt.owner.profilePicture}}" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-sm-10">
                        <h5>{{volunt.owner.name}}</h5>
                        <small class="my-2">
                            {{volunt.owner.bio}}
                            Quienes vamos a dar a luz estos días en Segovia nos estamos encontrando con una situación.
                        </small>
                    </div>
                </div>
            </div>
            <div class="card p-4">
                <h4>Plazas</h4>
                <p>{{volunt.assistants}}</p>
                <h4>Reservadas</h4>
                <p>{{reserved}}</p>
                <h4>¿Quieres ser voluntario?</h4>
                {{#each volunt.date as |date|}}
                <p><b>Día</b> {{date.day}}</p>
                <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
                <hr>
                {{/each}}
                {{#isOrg currentUser.role}}
                <a href="/logout" class="button btn__secondary btn-lg my-2">
                    Para poder apuntarte a un voluntariado, cierra sesión y regístrese como usuario</a>
                {{/isOrg}}
                {{!-- {{else}}  --}}
                <a href="#" class="button btn__primary btn-lg my-2" data-bs-toggle="modal"
                    data-bs-target="{{#if currentUser}}#assistPopup{{else}}#loginActionPopup{{/if}}">
                    Apuntarme al voluntariado</a>
                 {{!-- {{/isOrg}} --}}
                <br>
            </div>
        <div id='mapShowV' class="border rounded__custom my-3" style='width: 400px; height: 300px;'></div>
        <p id="queryV" data-adress="{{volunt.adress}}">{{volunt.adress}}</p>
        </div>
    </div>
    {{else}}
    <h1>Not found</h1>
    <p>Parece que el proyecto que intentabas buscar ya no se encuentra disponible</p>
    {{/if}}
</div>

<div class="modal" id="assistPopup" tabindex="-1" aria-labelledby="assistPopup" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 875px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <h3><b>¡Yo voy!</b></h3>
            {{volunt.adress}}
            {{#each volunt.date as |date|}}
                <p><b>Día</b> {{date.day}}</p>
                <p><b>Hora</b> {{date.time.start}} - {{date.time.end}}</p>
                <hr>
            {{/each}}
            <form action="/volunt/{{volunt.slug}}" method="POST">
                <button type="submit" class="button btn__primary btn-lg">Reervar plaza</button>
            </form>
        </div>
    </div>
</div>

<script> 
   let locat = document.getElementById('queryV').dataset.adress

   mapboxgl.accessToken = 'pk.eyJ1IjoicGFsbWFzYSIsImEiOiJja2x0OHpvdDYwNmJ5MndvM2NiNGF5NWtzIn0.aVa1uyTkA0cl1WuZezJQtw'
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
    .forwardGeocode({
        query: `${locat}`,
        autocomplete: false,
        limit: 1
    })
    .send()
    .then(function (response) {
        if ( response.body.features.length ) {
        var feature = response.body.features[0];
        
        var mapShowV = new mapboxgl.Map({
            container: 'mapShowV',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: feature.center,
            zoom: 15
        })
        new mapboxgl.Marker().setLngLat(feature.center).addTo(mapShowV);
        }
    });
</script>