<script src="https://cdn.tiny.cloud/1/bxbm94pkk0onbqvbkrwp8xh9ly9aj2g61n7lsz2i4sv9gvvt/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#description',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        menubar: false,
        min_height: 300,
        toolbar_mode: 'floating',
        toolbar: 'undo | formatselect | ' + 'bold italic' + '| bullist numlist |' + 'fullscreen',
    });
</script>
<script src="https://unpkg.com/imask"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>

<form action="/volunt/edit/{{volunt._id}}" method="POST" enctype="multipart/form-data">
    <div class="container my-4">
        {{#if volunt}}
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="card">
                    {{#if volunt.image}}
                    <div class="project__header" id="heroImg"
                        style="background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url({{volunt.image}});">
                        <div class="px-4 px-md-5 pb-4" style="max-width: 750px;">
                            <h1>{{volunt.title}}</h1>
                        </div>
                    </div>
                    {{/if}}
                    <div class="p-4 p-md-5">
                        <div class="mb-4">
                            <label for="title" class="form-label h5">Título</label>
                            <input class="form-control form-control-lg" type="text" id="title" name="title"
                                placeholder="Title" value="{{volunt.title}}" required>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label h5">Descripción</label>
                            <textarea class="form-control form-control-lg" id="description" name="description"
                                placeholder="Descripción">{{volunt.description}}</textarea>
                        </div>
                        <div class="mb-4">
                            <label for="assistants" class="form-label h5">Voluntarios</label>
                            <input class="form-control form-control-lg" type="text" id="assistants" name="assistants"
                                placeholder="Cantidad a recaudar" value="{{volunt.assistants}}" required>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border rounded__custom p-4 mb-4">
                    <h3>Editar voluntariado</h3>
                    <p style="font-size: 1rem;">
                        <b>Publicado el:</b> {{dateHelper volunt.createdAt}}<br>
                        <b>Editado el:</b> {{dateHelper volunt.updatedAt}}
                    </p>
                    <button type="submit" class="button btn__primary px-5">
                        <i class="fal fa-save me-1"></i> Guardar
                    </button>
                    {{#if noProjects}}
                    <a href="#" class="button btn__light px-4" data-bs-toggle="modal"
                        data-bs-target="#deleteProjectPopUp">
                        Eliminar
                    </a>
                    {{else}}
                    <a href="#" class="button btn__light px-4" data-bs-toggle="modal"
                        data-bs-target="#deleteRequestProjectPopUp">
                        Eliminar
                    </a>
                    {{/if}}
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Imagen de portada</label>
                    <input class="form-control" type="file" name="image" id="uploadImage" onchange="PreviewImage();">
                </div>
                <div class="mb-3">
                    <label for="day" class="form-label">Fecha</label>
                    <input class="form-control form-control-lg" type="text" id="dayCreate" name="day" value="{{date}}"
                        required>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col">
                            <label for="startDate" class="form-label h6">Hora de inicio</label>
                            <input class="form-control form-control-lg" id="hour1Create" type="text" name="timeStart"
                                value="{{volunt.start}}" required>
                        </div>
                        <div class="col">
                            <label for="endDate" class="form-label h6 hour">Hora de finalización</label>
                            <input class="form-control form-control-lg" id="hour2Create" type="text" name="timeEnd"
                                value="{{volunt.end}}" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="categs" class="form-label">Categoría</label>
                    <select id="categs" name="categs" class="form-select form-select-lg" required>
                        <option value="{{volunt.categs}}">{{volunt.categs}}</option>
                        {{#each categs as |categ|}}
                        <option value="{{categ}}">{{categ}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="geocoder" class="form-label h6">Ubicación</label>
                    <input name="adress" type="hidden" id="adressE" value="{{volunt.adress}}" required />
                    <div id="geocoderE" class="geocoder"></div>
                </div>
                <div class="mb-3 card" style="position: relative; min-height: 20rem;">
                    <div id='mapCreateEdit' style='width: 100%;min-height: 20rem;'></div>
                </div>
            </div>
        </div>
        {{else}}
        <h1>Not found</h1>
        <p>Parece que el voluntariado que intentabas buscar ya no se encuentra disponible</p>
        {{/if}}
    </div>
</form>

{{!-- DELETE PROYECT FORM POPUP --}}
<div class="modal" id="deleteVoluntPopUp" tabindex="-1" aria-labelledby="deleteVoluntPopUp" aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 475px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <form action="/delete-volunt/{{volunt._id}}" method="POST">
                <label for="email" class="form-label">
                    <h4>El voluntariado se eliminará permanentemente</h4>
                </label>
                <div class="form-text mb-2"><i class="fas fa-exclamation-triangle"></i>
                    La eliminación de voluntariados solo será posible mientras no haya ninguna plaza reservada </div>
                <button type="submit" class="btn btn-danger mt-2">Eliminar voluntariado</button>
            </form>
        </div>
    </div>
</div>

{{!-- REQUEST DELETE PROYECT FORM POPUP --}}
<div class="modal" id="deleteRequestVoluntPopUp" tabindex="-1" aria-labelledby="deleteRequestVoluntPopUp"
    aria-hidden="true">
    <div class="modal-dialog">
        <div style="max-width: 475px; border: none; border-radius: 0.6rem" class="modal-content p-4 p-md-5 text-center">
            <form action="/delete-volunt/{{volunt._id}}" method="POST">
                <label class="form-label">
                    <h4> Solicitud de eliminación</h4>
                </label>
                <div class="form-text mb-2"><i class="fas fa-exclamation-triangle"></i>
                    El voluntariado consta de voluntarios apuntados y necesita autorización para eliminarlo</div>
                <select id="reason-delete-proj" name="reason" class="form-select" aria-label="Default select example">
                    <option selected>¿Por qué desea eliminar el voluntariado?</option>
                    <option value="1">Ya hemos conseguido voluntarios por otras vías</option>
                    <option value="2">No conseguimos suficientes voluntarios</option>
                    <option value="3">Finalmente el voluntariado no tendrá lugar</option>
                    <option value="4">Otros</option>
                </select>
                <button type="submit" class="btn btn-danger mt-2">Enviar solicitud de eliminación</button>
            </form>
        </div>
    </div>
</div>

<script>
    function PreviewImage() {
        var oFReader = new FileReader()
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0])
        oFReader.onload = function (oFREvent) {
            document.getElementById("heroImg").style.backgroundImage = `linear-gradient(180deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.8) 100%), url(${oFREvent.target.result})`
        }
    }

    var patternMask = IMask(document.getElementById('assistants'), {
        mask: Number,
        min: 1,
        max: 1000000,
        scale: 0,
    });

    flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday 1st day
    flatpickr(document.getElementById('dayCreate'), {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        minDate: "today",
        "locale": "es",
    });

    flatpickr(document.getElementById('hour1Create'), {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });

    flatpickr(document.getElementById('hour2Create'), {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });

    let address = document.querySelector('#adressE').value

    mapboxgl.accessToken = 'pk.eyJ1IjoibWFudWNhcmFsbW8iLCJhIjoiY2tsdXgxazNzMDhtdzJ3cWx6cHRyb2U5NCJ9.lLgjepzuFFwLFmmDCrZ73A';
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: `${address}`,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function (response) {
            if (response.body.features.length) {
                var feature = response.body.features[0];

                var mapCreateEdit = new mapboxgl.Map({
                    container: 'mapCreateEdit',
                    style: 'mapbox://styles/manucaralmo/ckm504dzo0yap17r1x4ys15t6', // si meto tu estilo me falla
                    center: feature.center,
                    zoom: 10
                });
                new mapboxgl.Marker().setLngLat(feature.center).addTo(mapCreateEdit);
            }
            // Geocoder
            var geocoderE = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                placeholder: 'Buscar',
                marker: {
                    color: "#1167b1"
                }
            });
            document.getElementById('geocoderE').appendChild(geocoderE.onAdd(mapCreateEdit));

            geocoderE.on('result', () => {
                document.querySelector('#adressE').value = JSON.parse(geocoderE.lastSelected).place_name
            })

            // Set custom style to input
            document.querySelector('#geocoderE input').className = "form-control form-control-lg";
            document.querySelector('#geocoderE input').value = "{{volunt.adress}}";
        });

</script>