<div class="main__profile">
    <div class="container py-1">
        {{#if messages}}
        <div class="alert alert-dark">
            {{messages}}
        </div>
        {{/if}}
        <div class="text-center mx-auto my-5" style="max-width: 600px;">
            <img src="{{currentUser.profilePicture}}" height="100px" class="mb-3" alt="profile image">
            <h2>{{currentUser.name}}</h1>
                <button id="orgWeb">
                    {{currentUser.web}}
                </button>
                <p>
                    {{currentUser.bio}}
                </p>
                <a href="/project/create" class="button btn__primary">Nuevo proyecto</a>
                <a href="/volunt/create" class="button btn__primary">Nuevo voluntariado</a><br>
                <a href="/org/edit-profile" class="button btn__light"><i class="fas fa-pen"></i> Editar perfil</a>
                <a href="/org/settings" class="button btn__light"> <i class="fas fa-cog"></i> Configuración</a>
        </div>
    </div>
</div>


<div class="container my-4">
    {{#if messages}}
    <div class="alert alert-dark">
        {{messages}}
    </div>
    {{/if}}

    <div class="row">
        <div class="col-sm-6">
            <div class="my-5">
                <h3>Proyectos</h3><br>
                {{#each currentUser.projects as |project|}}
                <div class="card p-4 mb-2">
                    <h5>{{project.title}}</h5>
                    <div class="row">
                        <div class="col mt-2">
                            <a href="/project/{{project.slug}}" class="button btn__primary btn-sm">Ver
                                proyecto</a>
                            <a href="/project/edit/{{project.slug}}" class="button btn__light btn-sm">Editar
                                proyecto</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="my-5">
                <h3>Voluntariados</h3><br>
                {{#each currentUser.volunts as |volunt|}}
                <div class="card p-4 mb-2">
                    <h5>{{volunt.title}}</h5>
                    <div class="row">
                        <div class="col mt-2">
                            <a href="/volunt/{{volunt.slug}}" class="button btn__primary btn-sm">Ver
                                voluntariado</a>
                            <a href="/volunt/edit/{{volunt.slug}}" class="button btn__light btn-sm">Editar
                                voluntariado</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>